*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.background{
   object-fit: cover;
   width: 100%;
   height: 100vh;
   background-position: center;

}
.background img{
    max-width: 100%;
}
h1{
    width: 100%;
    height: 75px;
    line-height:75px;
    padding:0px 100px;
    position:fixed;
    text-align:center ;
}
      .thumbnails {
        align-content: center;
        display: flex;
        margin: 0;
        flex-direction:column;
        flex-wrap: wrap;
        height: 160px;
        width: 100%;
        position:relative ;
        top: 3vh;
        bottom: auto;
        overflow: scroll;
        color-scheme: dark;
        
    }

    .thumbnails img {
        width: 500px;
        padding: 5px;
        border: 1px solid transparent;
      }
    .box img
    {
        justify-content:center;
        width:100%;
        min-height:100vh;
        display:flex;
        align-items:center;
        flex-direction:column;
    }

    /*#rate-control {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 1rem 0;
      }*/
 #log
 
 {
        justify-content:center;
        display:flex;
        align-items:center;
        flex-direction:column;
 }
 
